/* font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display_flex{
    display: flex;
}
.btn_primary{
    background-color: #FEA301;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}




/* nav item styles */
.navbar{
    justify-content: space-evenly;
    align-items: center;
}
.brand{
    font-size: 2.6rem;
    font-weight: 700;
    margin-left: 11px;
}
.brand_div{
    display: flex;
    align-items: center;
}
.nav_link{
    text-decoration: none;
}
.nav_item{
    list-style: none;
    margin-right: 32px;
}
.link1{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}
.link2{
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}
.link3{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}
.link4{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.menu_toogle{
    display: none;
    cursor: pointer;
    margin-left: auto;
}
.marquee{
    background-color: skyblue;
}

/* banner styles */
.banner{
    max-width: 1440px;
    margin-left: 50px;
    justify-content: space-around;
    margin-bottom: 60px;
}
.banneer_content{
    margin-top: 120px;
    margin-bottom: 120px;
    grid-area: banneer_content;
}
.banner_title{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0px;
}
.span1{
    color: #FEA301;
}
.span2{
    color: #01ACFD;
}
.banner_description{
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 640px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.btn2{
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 10px 47px;
    max-width: 197px;
    border: none;
}
.banner_img{
    grid-area: banner_img;
}

/* curriculum section styles */
.sc, .stories_container{
    background-image: url(../assets/bg.png);
}
.sc_heading{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.curriculum{
    margin: 0 140px;
    gap: 29px;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 80px;
}
.sc_img{
    width: 137px;
    height: 137px;
    padding: 53px 115px 20px 115px;
}
.sc_title{
    font-weight: 700;
    font-size: 1.5rem;
}
.sc_description{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 33px;
    color: #808080;
    padding: 0px 40px;
}
.sc_btn1, .sc_btn2, .sc_btn3{
    margin-bottom: 53px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}
.sc_btn1{
    color: #64C8FF;
}
.sc_btn2{
    color: #F0AA00;
}
.sc_btn3{
    color: #8700FF;
}
.box1{
    box-shadow: #DEF5FF;
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 1));
    border-radius: 19px;
    border: 1px solid #DEF5FF;
    width: 367px;
    height: 476px;
}
.box2{
    box-shadow: #FFF4DC;
    border: 1px solid #FFF4DC;
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 1));
    border-radius: 19px;
    width: 367px;
    height: 476px;
}
.box3{
    box-shadow: #F2E8FF;
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 1));
    border-radius: 19px;
    width: 367px;
    height: 476px;
}
.sc_icon div {
    height: 60px;
    width: 60px;
    gap: 10px;
    margin: 0 auto 60px auto;
}



/* stories section  */
.stories_container{
    max-width: 1440px;
    margin: auto auto;
    margin-bottom: 80px;
}

.stories_title{
    margin: 60px 0 80px 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
}
.stories{
    /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 163, 1, 0.3)); */
    gap: 15px;
}
.stories_left{
    border-radius: 16px;
    width: 541px;
    height: 630px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.ss_btn0{
    background-color: #3CD8E8;
    color: white;
    border: none;
    height: 47px;
    width: 174px;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    margin: -100px 0px 33px 38px;
}
.left_title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 38px;
    padding: 2px 60px 0px 0px;
}
.left_description{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    margin: 0px 68px 34px 38px;
    width: 433px;
    height: 75px;
}
.stories_right{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 19px; 
}
.ss_btn1{
    background-color: #95B226;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 174px;
    height: 38px;
    margin: -100px 78px 19px 37px;
}
.ss_btn1{
    background-color: #95B226;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 174px;
    height: 38px;
    margin: -100px 78px 19px 37px;
}
.ss_btn2{
    background-color: #5D58F0;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 174px;
    height: 38px;
    margin: -100px 78px 19px 37px;
}
.ss_btn3{
    background-color: #95B226;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 174px;
    height: 38px;
    margin: -100px 78px 19px 37px;
}
.ss_btn4{
    background-color: #95B226;
    border-radius: 47px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 174px;
    height: 38px;
    margin: -100px 78px 19px 37px;
}
.right_img1, .right_img2, .right_img3, .right_img4{
    width: 290px;
    height: 301px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}
.right_description{
    height: 57px;
    width: 214px;
    margin: 0px 38px 47px 37px;
}
.view_btn{
    background-color: black;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    width: 197px;
    height: 50px;
}
.view_btn_div{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 60px;
}


/* footer styles */
footer{
    background-color: #01ACFD;
    color: #FFFFFF;
}
#leftf{
    display: flex;
    align-items: center;
    margin-left: 148px;

}
.lef{
    font-weight: 700;
    font-size: 2.6rem;
    width: 206px;
    height: 79px;
}

.footer_description{
    font-weight: 400;
    font-size: 1.25rem;
    height: 100px;
    width: 400px;
    margin-left: 148px;
}


.footer_container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_section{
    flex: 1 1 200px;
    margin: 10px;
}

.footer_section h4{
    margin-bottom: 10px;
    font-size: 1.5em;
    margin-left: 40px;
}

.footer_section ul{
    list-style: none;
}

.footer_section ul li{
    margin-bottom: 20px;
}

.footer_section ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer_section ul li a:hover{
    color: #000000;
}














/* responsive media query */
@media screen and (max-width: 576px) {
    /* navbar styles */
    .brand,
    .link_div,
    .btn_primary,
    .sc_icon,
    .stories_left{
        display: none;
    }
    .menu_toogle{
        display: block;
        margin-right: 12px;
    }
    .brand_img{
        height: 40px;
        width: 40px;
        margin-left: 12px;
    }
    .navbar{
        border: 1px solid #FEA301;
        justify-content: space-between;
        padding: 5px;
    }

    /* banner styles */
    .banner{
        display: grid;
        grid-template-areas: 
        "banner_img"
        "banneer_content";
        max-width: 357px;
    }
    .banneer_content{
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* curriculum section */
    .sc_heading{
        margin-top: 60px;
        text-align: center;
        margin-bottom: 20px;
    }
    .curriculum{
        flex-direction: column;
        align-items: center;
        margin: 2px auto;
        width: 357px;
        height: 324px;
    }

    /* stories section */
    .stories_title{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .stories_right{
        grid-template-columns: repeat(2, 1fr);
        height: 180px;
        width: 174px;
    }
    .stories_container{
        display: grid;
        grid-template-areas: 
        "stories_container";
    }

    /* footer section */
    footer{
        margin-left: 0px;

    }
    .footer_container{
        flex-direction: column;
        text-align: left;
    }

}
    
